<div class="jumbotron" style="margin-top: 20px;">
   <div class="container">
       <div class="col-md-7">
           <h1>Fishing togheter!</h1>
           <p class="lead">FishingTeam allow you and your friends to share your fishing moments with each other instantly!</p>
           <p>Go head and sign up! </br>
           Download your phone-app and have a blast</p>
           <p>/FishingTeam</p>
       </div>
       <div class="col-md-5">
           <form class="form-horizontal">
               <fieldset>
                   <legend>Join now</legend>             
                   <div class="form-group">
                       <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                       <div class="col-lg-10">
                           <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="inputNickname" class="col-lg-2 control-label">Níckname</label>
                       <div class="col-lg-10">
                           <input type="text" class="form-control" id="inputNickname" placeholder="Nickname">
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                       <div class="col-lg-10">
                           <input type="password" class="form-control" id="inputPassword" placeholder="Password">                          
                       </div>
                   </div>                  
                   <div class="form-group">
                       <div class="col-lg-10 col-lg-offset-2">
                           <button type="submit" class="btn btn-primary">Submit</button>
                       </div>
                   </div>
               </fieldset>
           </form>  
       </div>   
   </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What is this?</h2>
        <p>FishingTeam is a Phone-App which allow you and your friends to share your fishing moments with each other. Create fishing groups, invite your friend and share your catch!</p>
        <p>FishingTeam provide you with weather conditions, sunset, location, notifications and more!</p>
    </div>
    <div class="col-md-4">
        <h2>Phone Apps</h2>
        <p>FishingTeam now available on the following platforms.</p>
        <ul>
            <li>Andriod</li>
            <li>IOS</li>
            <li>Windows Phone</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>If you have any questions don't hasitate to contact us!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Send email</a></p>
    </div>
</div>
